<h1>Editing feed</h1>

<% form_for(@feed, :url => user_feed_path(current_user,@feed)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.label :title_xpath %><br />
    <%= f.text_field :title_xpath %>
  </p>
  <p>
	<%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', user_feed_path(current_user, @feed) %> |
<%= link_to 'Back', user_feeds_path(current_user) %>

