<h1>Public Feeds</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% Feed.published_feeds.each do |feed| %>
  <tr>
    <td><%=h feed.title %></td>
    <td><%= link_to 'Headlines', :action => 'titles', :id => feed %></td>
  </tr>
<% end %>
</table>

<h1>My feeds</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Uri</th>
    <th>Title xpath</th>
    <th>Published</th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%=h feed.title %></td>
    <td><%=h feed.uri %></td>
    <td><%=h feed.title_xpath %></td>
    <td><%=h feed.published %></td>
    <td><%= link_to 'Show', user_feed_path(current_user, feed) %></td>
    <td><%= link_to 'Headlines', titles_user_feed_path(current_user, feed) %></td>
    <td><%= link_to 'Edit', edit_user_feed_path(current_user, feed) %></td>
    <td><%= link_to 'Destroy', user_feed_path(current_user, feed), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_user_feed_path(current_user) %>

