<p>
  <b>Title:</b>
  <%=h @feed.title %>
</p>

<p>
  <b>Uri:</b>
  <%=h @feed.uri %>
</p>

<p>
  <b>Title xpath:</b>
  <%=h @feed.title_xpath %>
</p>

<p>
  <b>Published:</b>
  <%=h @feed.published %>
</p>


<%= link_to 'Edit', edit_user_feed_path(current_user, @feed) %> |
<%= link_to 'Back', user_feeds_path(current_user) %>

